.Layout_body{
    
    max-width: 600px;
    min-width: 300px;
    margin: 2%;
    height: 650px;
    background-color: #ff0000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}